*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.container {
    display: flex;
    /* justify-content: space-between; logo left, navbar right */
    padding: 20px 40px;
    justify-content: space-between;
}
ul li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin: 20px;
}
a{
    text-decoration: none;
    text-align: right;
    color: black;
   
}
img{
    width: 120px;
    height: auto;
    
}
.navbar{
    
    padding: 30px;
    margin-right:0px ;
    text-align: right;
    
}
.navbar ul li{
    margin-left: 50px;
}
button{
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    height: 50px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: none;

}
.imge{
    float: right;
    width: 800px;
    height: 500px;
    margin-left: 15px;
}
h1{
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
h2{
    padding-left: 50px;
    margin-top: -35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    padding-left: 50px;
    padding-top: 30px;


}
.b1{
    margin-left: 50px;
    margin-top: 30px;
    background-color: blueviolet;
}
.b2{
    margin-left: 30px;
    background-color: white;
    color:blueviolet;
    border: 2px solid blueviolet;
    
}
.b2:hover{
    color:white;
    background-color: blueviolet;
}
.name{
    color: blueviolet;
}
.name1{
    
    height: 20px;
    width: 20px;
    margin-left: 50px;
    margin-top: 70px;

}
.name2{
    height: 20px;
    width: 20px;
    margin-top: 70px;

}
.name3{
    height: 20px;
    width: 20px;
    margin-top: 70px;
}
.img1{
    float: left;
    height: 400px;
    width: 300px;
    background-size: cover;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 30px;
    border-radius: 10px;
}
.p1{
    margin-left: 50px;
    margin-right: 100px;
}
.heading {
    font-size: 100px;
    
}
.heading2{
    font-size: 20px;
}
.Table{
    border: 2px solid  white;
    display: inline-block;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    float: left;
    
}
input{
    
    border-radius: 10px;
    font-size: 40px;
}
.img2{
    height: 500px;
    width: 700px;
    display: block;
    margin: auto;
    margin-top: 50px;
}